# Data
/data/

# Outputs
/results/
/runs/

# Scratch
/scratch/


# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
venv/
.venv/

# VSCode
.vscode/

# Temporary files
*.tmp
*.swp

# Packaging artifacts
*.egg-info/
.eggs/
build/
dist/